body{
  font-family: 'Josefin Slab', serif;
  margin: 0;
  padding: 0;

}
h1{
  font-family: 'Neucha', cursive;
  font-size: 6em;
  margin: auto;
  margin-left: 100px;
  color: #cc9900;
}

h2{
  font-size: 3em;
  margin: auto;
  margin-left: 100px;
  color: #cc9900;
}

.container{
  display: flex;
  flex-wrap: nowrap;
  margin: 100px;
}

p{
  text-align: right;
}

video{
  min-width: 40em;
  height: auto;
}

.top{
  display: flex;
  justify-content: space-between;
}

#menu{
  margin-left: 100px;
  margin-top: 100px;
}
